body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  }

h1, h2, h3, {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.0;
}

h1 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  padding: .5em;
}

h4 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  padding: .5em;
}

h5 {
  font-family: 'Norican', cursive;
  font-size: 30pt;
}

p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

header {
  background-color: #212121;
}

main {
  background-color: #02B3E4;
}

footer {
  border-top: 1px solid #E0E0E0;
  background-color: white;
  padding: 1em;
  width: 100%;
  margin: auto;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}

.headercontainer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

.logo {
  padding: 16px;
}

.welcome {
  margin: auto;
  padding: 60px 0;
  width: 100%;
  height: auto;
  background-image: url("../img/banner_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  width: 100%;
}

.desc, .scholar {
  text-align: center;
  line-height: 1.00;
  margin: 0px;
}

.pink {
  color: Tomato;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.92);
}

.desc {
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.92);
}

.portfolio {
  width: 100%;
  padding: 16px;
}

.portfolio h1, h2, p {
  text-align: center;
  color: white;
}

.project1 {
  width: 100%;
  height: auto;
  background-image: url("../img/bird.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin-top: 20px;
}

.project2 {
  width: 100%;
  height: auto;
  background-image: url("../img/flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin-top: 20px;
}

.project3 {
  width: 100%;
  height: auto;
  background-image: url("../img/goldengate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin-top: 20px;
}

.title, .description {
  background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  color: black;
  font-weight: bold;
}

.title {
  padding-top: 25px;
  margin-bottom: 0px;
}

.description {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px;
}

.image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-sizing: border-box;
}

.icons {
  font-size: 2em;
  color: Tomato;
}


li {
    float: left;
    display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to blue on hover */
li a:hover {
  text-decoration: underline;
  color: #02B3E4;
}

/* Media query for Nexus 5 */
@media screen and (max-width: 360px) {

    .welcome {
      display: flex;
      flex-wrap: wrap;
    }

    .banner {
      width: 100%;
    }

    .portfolio {
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
    }
}

/* Media query for iPad */
@media screen and (min-width: 768px) {

    .welcome {
      padding: 80px 0;
      width: 100%;
      height: 300px;
    }

    .description {
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 25px;
    }

    .portfolio {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .project1 {
      width: 100%;
      height: 350px;
      background-image: url("../img/bird.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      margin-top: 30px;
    }

    .project2 {
      width: 100%;
      height: 350px;
      background-image: url("../img/flowers.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      margin-top: 40px;
    }

    .project3 {
      width: 100%;
      height: 350px;
      background-image: url("../img/goldengate.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }
}

/* Media query for desktop */
@media screen and (min-width: 900px) {

      .welcome {
        padding: 60px 0;
        width: 100%;
        height: 600px;
        background-image: url("../img/banner_img2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      .banner {
        align-items: center;
        margin: auto;
      }

      .portfolio {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .project1 {
        width: 30%;
        height: 450px;
        background-image: url("../img/bird.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        margin: 10px;
      }

      .project2 {
        width: 30%;
        height: 450px;
        background-image: url("../img/flowers.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        margin: 10px;
      }

      .project3 {
        width: 30%;
        height: 450px;
        background-image: url("../img/goldengate.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        margin: 10px;
      }

      h5 {
        font-size: 60px;
      }

      h3 {
        font-size: 24px;
      }
}
